.app-wrapper {
  max-width: 430px;
  /* 모바일 기준 너비 */
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
  background-color: #FBF5EE;
  font-family: "Pretendard", sans-serif;
}

.hmain-wrapper {
  width: 100%;
  height: 100%;
  background: #FBF5EE;
  position: relative;
  padding-top: 70px; /* 정렬 버튼 공간 확보 */
}

/* 정렬 버튼 */
.sort-btn {
  position: absolute;
  right: 20px;
  top: 22px;
  background: none;
  border: none;
  z-index: 10;
}

.sort-icon {
  width: 25px;
  height: 25px;
}

/* 플로팅 버튼 래퍼 */
.fab-wrapper {
  position: absolute;
  right: 25px;
  bottom: 25px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* 플로팅 메뉴 */
.fab-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 12px;

  background-color: #C9BAAB;
  width: 160px;
  height: 170px;
  border-radius: 20px;

  animation: fadeIn 0.2s ease-out;
}

/* 개별 메뉴 버튼 */
.fab-menu1 {
  width: 120px;
  padding: 10px 0;
  border-radius: 20px;
  border: none;

  margin-top: 18px;
  margin-left: 20px;
  background: #d8c6b4;
  font-size: 14px;
  cursor: pointer;
}

.fab-menu1:nth-child(1) {
  background: #f7f0ce;
}

.fab-menu2 {
  width: 120px;
  padding: 10px 0;
  border-radius: 20px;
  border: none;

  margin-left: 20px;
  background: #d8c6b4;
  font-size: 14px;
  cursor: pointer;
}

.fab-menu2:nth-child(2) {
  background: #f0e4db;
}

.fab-menu3 {
  width: 120px;
  padding: 10px 0;
  border-radius: 20px;
  border: none;

  margin-left: 20px;
  background: #d8c6b4;
  font-size: 14px;
  cursor: pointer;
}

.fab-menu3:nth-child(3) {
  background: #7c5f59;
  color: white;
}

/* 플로팅 메인 버튼 */
.fab-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;

  background: #d8c6b4;
  font-size: 28px;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ===== 메인 리스트 전체 ===== */
.diary-wrapper {
  padding: 0 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 14px;
  row-gap: 22px;
}

/* ===== 개별 아이템 ===== */
.diary-item {
  display: flex;
  flex-direction: column;
}

.diary-card {
  width: 100%;
  background: white;
  border-radius: 14px;
  padding: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.07);
}

/* ===== 이미지 영역 ===== */
.diary-thumb {
  width: 100%;
  aspect-ratio: 1 / 1;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.diary-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 썸네일 이미지 */
.thumb-img {
  width: 100%;
  height: 160px;   /* 너가 원하는 크기 */
  object-fit: cover; /* 이미지 넘침 방지 */
  border-radius: 12px;
  display: block;
}
.thumb-placeholder {
  width: 100%;
  height: 100%;
  background: #ffffff;
}

/* 제목 */
.card-title {
  font-size: 15px;
  font-weight: bold;
  margin-top: 8px;
}

/* 날짜 */
.card-date {
  font-size: 13px;
  color: #8b8784;
  margin-top: 4px;
}
