.register-wrapper {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.register-topbar {
    width: 100%;
    height: 60px;

    background: #cbb8a9;
    /* 항나 디자인 톤 맞춤 */

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;

    font-size: 18px;
    font-weight: 500;
}

.close-btn {
    background: none;
    border: none;
}

.close-icon {
    width: 28px;
    height: 28px;
}

.check-btn {
    background: none;
    border: none;
}

.check-icon {
    width: 30px;
    height: 30px;

}

.topbar-date {
    font-size: 15px;
    color: #3c2f2f;
    font-weight: 500;
}

.register-content {
    padding: 16px;
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  margin: 16px;
}

.img-box {
  background: #e6e6e6;
  border-radius: 6px;
  height: 190px;
  position: relative;
  overflow: hidden;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 플러스 버튼 */
.plus-btn {
  width: 100%;
  height: 100%;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  cursor: pointer;
}

.plus-btn input {
  display: none;
}


/* 제목/내용 입력 */
.text-area {
  padding: 16px;
}

.title-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #222;
  font-size: 18px;
  font-weight: 600;
  padding: 6px 0;
  margin-bottom: 12px;
}

.content-input {
  width: 100%;
  height: 150px;
  border: none;
  resize: none;
  font-size: 15px;
  line-height: 1.5;
  font-size: 16px;
}

.img-container {
  width: 100%;
  height: 100%;
  position: relative; 
}

.img-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delete-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;          /* 오버레이 클릭 가능 */
}

.delete-btn {
  background: #ff4d4d;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  border: none;
  font-weight: bold;
}

.delete-btn:active {
  transform: scale(0.96);
}
