.splash-wrapper {
  width: 100%;        /* app-wrapper 안 기준으로 잡힘 */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEE0CD;
}

.foot-img {
  width: 160px;
  height: auto;
}
