@font-face {
  font-family: 'NanumSquareNeo';
  src: url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'NanumSquareNeo', system-ui, sans-serif !important;
}

.app-wrapper {
  width: 100%;
  height: 100vh;
  background: #ffeadd;
  overflow: hidden;
  position: relative;
}