@font-face {
  font-family: 'NanumSquareNeo';
  src: url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html, body {
  height: 100%;
  margin: 0;
   overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: 'NanumSquareNeo', system-ui, sans-serif !important;
}

.app-wrapper {
  max-width: 430px;     /* 모바일 너비 */
  margin: 0 auto;
  height: 100dvh;       /* iOS 실 화면 높이 */
  overflow: hidden;     /* 스크롤 방지 */
  background: #ffeadd;
  position: relative;

  overflow-y: auto;
}